body {
	margin: 0 auto;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
	font-size: 10px;
	background: #000;
	color: #fff;
	min-height: 960px;
	min-width: 960px;
	max-width: 1200px;
}

a { 
	color:#fff; 
	text-decoration:none;
}

a:hover {
	color:#DE8300A; 
	text-decoration:underline; 
}

a.side {
	color:#fff; 
	text-decoration:none; 
}

a:hover.side {
	color:#EC8701; 
	text-decoration:underline; 
}
h4 {
	margin: 12px 0 4px 0;
	padding: 9px 12px 2px 12px;
	font-size: 14px;
	font-weight: bold;
	color: #999;
	border-bottom: 1px solid #eee;
}
input[type=submit], 
.button {
	min-height: 35px;
	border: 1px solid #77A600;
	color: #272727;
	background: #aaff60;
	border-radius: 8px;
}
	
input[type=submit]:hover, 
.button:hover {background-position: 0 -40px; color: #373738;}


.bold{font-weight:bold}
.center {text-align:center}
.left{text-align:left}
.right{text-align:right}
.red {color:red}
.green{color:#1a5005}
.small{font-size:9px;}

.status, .info, .error, .valid {
	margin: 10px 0;
	padding: 9px 15px;
	font-size: 12px;
	text-align: center;
	background: #feffff;
	border-radius: 5px;
}

.status a, .info a, .error a, .valid a {
	font-weight: bold;
	text-decoration: underline;
}

.status-right, .info-right, .error-right, .valid-right {
	position: absolute;
	top: 0;
	right: -6px;
	width: 55px;
}

.status-right a, .info-right a, .error-right a, .valid-right a {
	cursor: pointer;
}

.status, .status a {color: #e79300;}
.info, .info a {color: #2e74b2;}
.error, .error a {color: #ce2700;}
.valid, .valid a {color: #97be7a;}


.quote,
.code {
	padding:2px 10px 6px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	font-size:11px;
	line-height:20px;
	color:#f5f5f5;
	text-align:left;
	font-weight: bold;
	background-color:#3a3a3a;
}

.quote:before,
.quote:after {
	display:inline;
	font-family:Georgia, serif;
	font-size: 24px;
	color:#7a7a7a;
}

.quote:before {
	margin-right:3px;
	content:"\201E";
}

.quote:after {
	position:absolute;
	margin:3px 0 0 3px;
	content:"\201D";
}

.code {
	padding:6px 10px;
	font-family:Monaco, Menlo, Consolas, "Courier New", monospace;
	white-space:nowrap;
}